.statistics-paper {
	width: fit-content;
	height: fit-content;
	/* width: 500px;
	height: 450px; */
	padding: 20px;
	margin: 40px 0 0;
}

.meteorites-by-year {
	margin: 30px 0 !important;
}

.source {
	color: #a1a1a1;
}
