.landing {
	width: 100%;
	height: 100vh;
	background-color: #262626;
}

.landing-container {
	position: relative;
	z-index: 1;
	padding: 50px 12px !important;
}

.text-box {
	color: white;
	padding: 40px 0;
}

.text-title {
	margin: 0 0 10px !important;
	font-weight: bold !important;
}

.image-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
@media (max-width: 600px) {
	.image-container {
		display: none;
	}
}
img {
	width: 100%;
	height: 100%;
}
