@font-face {
  font-family: Manrope;
  src: url(./fonts/Manrope-VariableFont_wght.ttf);
}
body {
  margin: 0;
  font-family: Manrope;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Css Global Rules - override default Css*/
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 { 
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Css Global Rules - override default Css*/
